[submodule "CorkWeather/ProteusUI"]
	path = CorkWeather/ProteusUI
	url = https://github.com/parrotbait/Proteus-UI.git
[submodule "CorkWeather/ProteusCore"]
	path = CorkWeather/ProteusCore
	url = https://github.com/parrotbait/Proteus-Core.git
